<ng-template #fallback>
  <h3>Une erreur est survenue, aucun email trouvé</h3>
  <a [routerLink]="['../../inbox']" class="btn btn-info"
    >Retourner sur la boîte de réception</a
  >
</ng-template>
<div *ngIf="email$ | async as email; else fallback">
  <h2>{{ email.subject }}</h2>
  <hr />
  <div class="d-flex justify-content-between align-items-center">
    <em>De {{ email.contactName }} ({{ email.from }}), le {{ email.date }}</em>
    <button class="btn btn-danger" (click)="deleteEmail()">Supprimer</button>
  </div>
  <hr />
  <p *ngFor="let part of getBodyParts(email.body)">{{ part }}</p>
  <hr />
  <nav>
    <a [routerLink]="'/emails/read/' + (email.id - 1)" class="btn btn-secondary"
      >&lt; Mail précédent</a
    ><a [routerLink]="['../', email.id + 1]" class="btn btn-secondary"
      >Mail suivant &gt;</a
    >
  </nav>
</div>
